@model List<Course>

<section class="courses">
    <div class="wrapper courses__wrapper">
        <div class="title-image courses__title-image">
            <img src="./images/maxdpo.jpg" />
        </div>
        <div class="courses-list courses__courses-list">
            <h2 class="courses-list__title">Доступные курсы</h2>
            @foreach (Course course in Model)
            {
                <div class="courses-list__item">
                    <div class="courses-list__item-title">
                        <a asp-area="" asp-controller="Courses" asp-action="Course">
                            <img src="./icons/course.svg" />
                            <h3>Специалист ответственный по  БДД</h3>
                        </a>
                    </div>
                    <div class="people courses-list__people">
                        <span class="people__teacher">
                            Учитель:
                            <a href="./profile">@course.Teacher.User.UserName</a>
                        </span>
                        @foreach (var student in course.Students)
                        {
                            <span class="people__student">
                                Студент:
                                <a href="./profile">@student.User.UserName</a>
                            </span>
                        }
                    </div>
                    <div class="description courses-list__description">
                        <p>@course.Description</p>
                    </div>
                </div>
            }

            @*temp foor test styles*@
            @foreach (Course course in Model)
            {
                <div class="courses-list__item">
                    <div class="courses-list__item-title">
                        <a asp-area="" asp-controller="Courses" asp-action="Course">
                            <img src="./icons/course.svg" />
                            <h3>Специалист ответственный по  БДД</h3>
                        </a>
                    </div>
                    <div class="people courses-list__people">
                        <span class="people__teacher">
                            Учитель:
                            <a href="./profile">@course.Teacher.User.UserName</a>
                        </span>
                        @foreach (var student in course.Students)
                        {
                            <span class="people__student">
                                Студент:
                                <a href="./profile">@student.User.UserName</a>
                            </span>
                        }
                    </div>
                    <div class="description courses-list__description">
                        <p>@course.Description</p>
                    </div>
                </div>
            }
            @foreach (Course course in Model)
            {
                <div class="courses-list__item">
                    <div class="courses-list__item-title">
                        <a asp-area="" asp-controller="Courses" asp-action="Course">
                            <img src="./icons/course.svg" />
                            <h3>Специалист ответственный по  БДД</h3>
                        </a>
                    </div>
                    <div class="people courses-list__people">
                        <span class="people__teacher">
                            Учитель:
                            <a href="./profile">@course.Teacher.User.UserName</a>
                        </span>
                        @foreach (var student in course.Students)
                        {
                            <span class="people__student">
                                Студент:
                                <a href="./profile">@student.User.UserName</a>
                            </span>
                        }
                    </div>
                    <div class="description courses-list__description">
                        <p>@course.Description</p>
                    </div>
                </div>
            }
            @*end temp foor test styles*@
        </div>
    </div>
</section>
